<nav class="navbar navbar-expand-lg bg-body-tertiary nav-elev sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" routerLink="/">
      <span class="logo-tile">
        <img src="/logo-desprogramadores.png" alt="Desprogramadores">
      </span>
      <span class="brand-name">Desprogramadores</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#" (click)="openSupport($event)">Soporte</a></li>
      </ul>
    </div>
  </div>
</nav>
